@import '~antd-mobile/dist/antd-mobile.css';

body {
  height: 100%;
}

#app {
  height: 100%;
}

.topic-content img {
  width: 100%;
}

.error-404 {
  margin: 30% auto;
  text-align: center;
  font-size: 40px;
}

.my .info {
  padding: 40px 20px;
  text-align: center;
}
